/* performance & smoothness only */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

*:focus,
*:focus-visible {
  outline: none;
}
