/* Completely hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* Remove any yellow highlighting */
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}